@tailwind base;
@tailwind components;
@tailwind utilities;

/* Seus estilos personalizados */
.custom-header {
    background-color: #FF2D20;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}


.space-x-4 > *:not(:last-child) {
    margin-right: -1rem; /* Espaçamento entre os botões */
}
